
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
 
}






.searchbar {
  
  border:  1px gray solid;
  border-radius: 10px;
  margin-top: 10px;
  width: 80%;
  text-align: start;
  opacity: 0.8;
}





.info-container > div {
  background-color: darkgray;
   color:black;
   height: max-content;
   width: max-content;
}







.info-container > div, .tagsL, .tagsT {
 border-radius: 7px;
  padding:2px;
 

}